body {
    font-family: "Ubuntu", "Helvetica Neue", sans-serif;
}

.latest-posts {
    padding: 20px 0px 0px 0px;

    .topic {
        font-size: 0.85rem;
        text-transform: uppercase;
        padding-top: 0.2rem;
        letter-spacing: 0.24px;
    }

    .p-card {
        box-shadow: 0px 0px 4px 2px rgba(230,230,230,.5);
        border-top: 3px solid #a97da0;
        border-style: solid none none;
        display: grid;
        grid-template-rows: 1.75em 0.65em auto 7em 3em 0.65em 1.75em;
 
        &__title {
            line-height: 2rem;
            font-size: 1.5rem;
            font-weight: 300;
        }
    }

    .hr-dotted {
        border-top: 1px dotted #d6d7d7;
        background: transparent;
        margin-bottom: 0.6rem;
    }

    .blue {
        color: #037cae;
    }

    .blog-category {
        font-size: 0.85rem;
    }
}

@media (min-width: 1681px) {
    .latest-posts .topic {
        font-size: 1rem;
    }
}

@media (max-width: 950px) {
    .latest-posts .p-card {
        grid-template-rows: 3em 0.65em auto 10.5em 4em 0.65em 2em;
    }
}